In [1]:
import pandas as pd

In [4]:
import os 

os.listdir("00-Lectures/src")

['Dataset_preprocessing.csv']

In [38]:
df = pd.read_csv("00-Lectures/src/Dataset_preprocessing.csv")

In [39]:
df.shape

(12, 7)

In [40]:
(df.isna().sum() / df.shape[0]) < .7

id               True
Country          True
Age              True
Salary           True
Purchased        True
useless_col      True
almost_empty    False
dtype: bool

In [41]:
df.isna().sum()

id               0
Country          0
Age              1
Salary           0
Purchased        0
useless_col      0
almost_empty    10
dtype: int64

In [42]:
# je veux virer toutes les colonnes qui ont + de 70% de valeurs nulles. 

df.isna().sum()[(df.isna().sum() / df.shape[0]) < .7]

id             0
Country        0
Age            1
Salary         0
Purchased      0
useless_col    0
dtype: int64

In [43]:
country_of_interest = df.groupby("Country")["Salary"].mean()[df.groupby("Country")["Salary"].mean() > 68000].index

In [44]:
df[df["Country"].isin(country_of_interest)]

    id  Country   Age      Salary Purchased useless_col  almost_empty
1    1    Spain  27.0       48000       Yes     useless          40.0
2    2  Germany  30.0       54000        No     useless           NaN
3    3    Spain  38.0       61000        No     useless          20.0
4    4  Germany  40.0       69000       Yes     useless           NaN
6    6    Spain   NaN       52000        No     useless           NaN
8    8  Germany  50.0       83000        No     useless           NaN
11  11    Spain  67.0  1000000000       Yes     useless           NaN

In [45]:
column_to_drop

Index(['almost_empty'], dtype='object')

In [46]:
df.drop?

Signature:
df.drop(
    labels: 'IndexLabel | None' = None,
    *,
    axis: 'Axis' = 0,
    index: 'IndexLabel | None' = None,
    columns: 'IndexLabel | None' = None,
    level: 'Level | None' = None,
    inplace: 'bool' = False,
    errors: 'IgnoreRaise' = 'raise',
) -> 'DataFrame | None'
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by directly specifying index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level. See the :ref:`user guide <advanced.shown_levels>`
for more information about the now unused levels.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop. A tuple will be used as a single
    label and not treated as a list-like.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    in place and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    Returns DataFrame or None DataFrame with the specified
    index or column labels removed or None if inplace=True.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

Drop a specific index combination from the MultiIndex
DataFrame, i.e., drop the combination ``'falcon'`` and
``'weight'``, which deletes only the corresponding row

>>> df.drop(index=('falcon', 'weight'))
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
llama   speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      ~/.local/lib/python3.10/site-packages/pandas/core/frame.py
Type:      method

In [57]:
df = pd.read_csv("00-Lectures/src/Dataset_preprocessing.csv")

In [58]:
column_to_drop = df.isna().sum()[~((df.isna().sum() / df.shape[0]) < .7)].index
# df = df.drop(column_to_drop, axis=1)

In [59]:
df.drop(column_to_drop, axis=1, inplace=True)

In [62]:
df

    id  Country   Age      Salary Purchased useless_col
0    0   France  44.0       72000        No     useless
1    1    Spain  27.0       48000       Yes     useless
2    2  Germany  30.0       54000        No     useless
3    3    Spain  38.0       61000        No     useless
4    4  Germany  40.0       69000       Yes     useless
5    5   France  35.0       58000       Yes     useless
6    6    Spain   NaN       52000        No     useless
7    7   France  48.0       79000       Yes     useless
8    8  Germany  50.0       83000        No     useless
9    9   France  37.0       67000       Yes     useless
10  10   France -10.0       32000       Yes     useless
11  11    Spain  67.0  1000000000       Yes     useless

In [65]:
def super_complexe(x):
    return x.Age * x.Salary

In [69]:
df["super_complexe"] = df.apply(super_complexe, axis=1)

In [71]:
df.drop(["useless_col", "id", "super_complexe"], axis=1, inplace=True)

In [ ]:
from sklearn.impute import SimpleImputer

si = SimpleImputer()
df["Age"] = si.fit_transform(df[["Age", "Salary"]])

In [ ]:
to_transform = df[["Age", "Salary"]]
pd.DataFrame(si.fit_transform(to_transform), columns=to_transform.columns)

          Age        Salary
0   44.000000  7.200000e+04
1   27.000000  4.800000e+04
2   30.000000  5.400000e+04
3   38.000000  6.100000e+04
4   40.000000  6.900000e+04
5   35.000000  5.800000e+04
6   36.909091  5.200000e+04
7   48.000000  7.900000e+04
8   50.000000  8.300000e+04
9   37.000000  6.700000e+04
10 -10.000000  3.200000e+04
11  67.000000  1.000000e+09

In [85]:
df.isna().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [ ]:
def replace_age(age):
    if age < 0:
        return df[df["Age"] > 0]["Age"].mean()
    else : 
        return age

df["Age"] = df["Age"].apply(replace_age)

In [98]:
%%timeit 

a = 2 
a += 2

23.3 ns ± 1.11 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [ ]:
df[df["Age"] > 0]["Age"]

0     44.000000
1     27.000000
2     30.000000
3     38.000000
4     40.000000
5     35.000000
6     36.909091
7     48.000000
8     50.000000
9     37.000000
10    36.909091
11    67.000000
Name: Age, dtype: float64

In [ ]:
df = df[~(df["Salary"] > df["Salary"].mean() + 3*df["Salary"].std())]

In [106]:
df

    Country        Age  Salary Purchased
0    France  44.000000   72000        No
1     Spain  27.000000   48000       Yes
2   Germany  30.000000   54000        No
3     Spain  38.000000   61000        No
4   Germany  40.000000   69000       Yes
5    France  35.000000   58000       Yes
6     Spain  36.909091   52000        No
7    France  48.000000   79000       Yes
8   Germany  50.000000   83000        No
9    France  37.000000   67000       Yes
10   France  36.909091   32000       Yes

In [117]:
from sklearn.model_selection import train_test_split

X = df.drop("Purchased", axis=1)
y = df["Purchased"]

# J'ai plus de donnée pour m'entrainer que pour tester
# J'ai toujours une seule colonne sur les y 

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=df["Country"])

In [119]:
X_train

   Country        Age  Salary
9   France  37.000000   67000
0   France  44.000000   72000
5   France  35.000000   58000
1    Spain  27.000000   48000
8  Germany  50.000000   83000
7   France  48.000000   79000
6    Spain  36.909091   52000
2  Germany  30.000000   54000

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

X = df.drop("Purchased", axis=1)
y = df["Purchased"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=df["Country"])


numerical_columns = X_train.select_dtypes(exclude="object").columns
categorical_columns = X_train.select_dtypes(include="object").columns

numerical_pipeline = Pipeline([
    ("imputer", SimpleImputer()), 
    ("scale", StandardScaler())
    ])

categorical_pipeline = Pipeline([
    ("impute", SimpleImputer(strategy="most_frequent")),
    ("encoder", OneHotEncoder(drop="first"))
])

ct = ColumnTransformer(transformers=[
    ("numerical_transformers", numerical_pipeline, numerical_columns ),
    ("categorical_transformers", categorical_pipeline, categorical_columns)
])

X_train = ct.fit_transform(X_train) # Tout ce que j'apprend je l'apprend sur X_train. Puis j'applique au Xtrain
X_test = ct.transform(X_test) # Puis j'applique au Xtest

le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [137]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [141]:
y_test

array([1, 1, 0])

In [142]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()